<h1> List of Users </h1>


<form action= "/create_user_record/<%= %>" method = "post">
  <div>
    <label for = "username"> Username </label>
    <input id="username" type= "text" name="the_username" placeholder ="Enter a username...">
  </div>
  <button>
  Add a User
  </button>
</form>

<table border ="1">
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th></th>
  </tr>


  <% @list_of_users.each do |a_user|%>
    <tr>
      <td><%= a_user.id %></td>
      <td><%= a_user.username %></td>
      <td>
        <a href="/users/<%= a_user.username %>">
        Show Details
        </a>
      </td>
    </tr>

  <% end %>
</table>
